<section class="container">
    <div class="row mb-2 ">
        <!-- post -->

      <% if(locals.posts){ %>  

        <% posts.forEach((post) => { %>
            <div class="col-md-12 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-5 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis"><%= post.category %></strong>
                        <h3 class="mb-0"><%= post.title %></h3>
                        <div class="mb-1 text-body-secondary"><%= post.content %></div>
                        <p class="card-text mb-auto"><%= post.time %></p>
                    </div>
                    <div class="col-auto d-none d-lg-block postimage">
                        <center>
                            <img src="<%= post.link %>" width="200">
                        </center>
                    </div>
                </div>
            </div>

            <% }); %>
      <%   } else{ %>
        
        <H1>No Posts</H1>
        
        <% } %>
        

    </div>
</section>